<!DOCTYPE html>
<html lang="en">
<%- include('partials/head.ejs')%>
<body>

    <%- include('partials/nav.ejs')%>

    <div class="container">

        <div>

            <% for(link of links){ %>
                <div style="margin-bottom:20px;border: 2px dashed #eee;padding:10px;box-sizing: border-box;">
                    <span style="font-size:1.5em;"><a class="white-text" style="text-decoration:none;" href="<%=link.generatedUrl%>"><%=link.generatedUrl%></a></span>
                    <span style="font-size:1.5em;"><a style="text-decoration:none;color:red" href="/delete/<%=link._id%>">Delete</a></span>
                </div>

            <%}%>
        </div>

    </div>
    
</body>
</html>